Flask==3.1.1
flask_login==0.6.3
flask_sqlalchemy==3.1.1
python-dotenv
transformers
Werkzeug
yfinance
PyMuPDF
python-docx
torch
google-generativeai
pandas
scikit-learn
requests
beautifulsoup4
matplotlib
redis
celery
secedgar
openai
PyYAML
authlib>=1.2.0
python-jose[cryptography]>=3.3.0