{% extends "main/_base.html" %}

{% block content %}
    <h1>Companies</h1>
    <p><a href="{{ url_for('main.new_company') }}">Add New Company</a></p>
    {% if companies %}
        <ul>
            {% for company in companies %}
                <li>
                    <strong>{{ company.name }}</strong> ({{ company.ticker_symbol }})
                    {# We can add a link to a company detail page or actions later #}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No companies have been added yet.</p>
    {% endif %}
{% endblock %}