{% extends "main/_base.html" %}

{% block content %}
    <h1>Create New Checklist</h1>
    <form method="POST" action="{{ url_for('main.new_checklist') }}">
        <div>
            <label for="name">Checklist Name:</label><br>
            <input type="text" id="name" name="name" required size="50">
        </div>
        <br>
        <div>
            <label for="description">Description (Optional):</label><br>
            <textarea id="description" name="description" rows="3" cols="50"></textarea>
        </div>
        <br>
        <h3>Initial Items:</h3>
        <div id="initial-items">
            <div><input type="text" name="item_text[]" placeholder="Item 1 text" size="70"></div>
            <div><input type="text" name="item_text[]" placeholder="Item 2 text (optional)" size="70"></div>
            <div><input type="text" name="item_text[]" placeholder="Item 3 text (optional)" size="70"></div>
            </div>
        <br>
        <button type="submit">Create Checklist</button>
    </form>
{% endblock %}