{% macro display_items_for_edit_tree(items_list, ChecklistItem_model_ref, current_level=0) %}
  <ul class="list-unstyled {% if current_level > 0 %}ps-4{% endif %}">
    {% for item in items_list %}
      <li class="checklist-tree-item">
        <a href="#" 
           id="tree-item-{{ item.id }}"
           class="p-2 d-block text-decoration-none rounded"
           data-item-id="{{ item.id }}"
           data-item-text="{{ item.text }}"
           data-llm-prompt="{{ item.llm_prompt if item.llm_prompt else '' }}"
           data-is-first="{{ loop.first }}"
           data-is-last="{{ loop.last }}">
            {{ loop.index }}. {{ item.text }}
        </a>

        {% if item.children.all() %}
          {{ display_items_for_edit_tree(item.children.order_by(ChecklistItem_model_ref.order).all(), ChecklistItem_model_ref, current_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro display_items_for_readonly_view(items_list, ChecklistItem_model_ref, current_level=0) %}
  <ul class="list-group {% if current_level > 0 %}list-group-flush ps-4{% endif %}">
    {% for item in items_list %}
      <li class="list-group-item">
        <h5 class="mb-1">{{ loop.index }}. {{ item.text }}</h5>
        {% if item.llm_prompt %}
            <small class="text-primary"><em>LLM Prompt: {{ item.llm_prompt }}</em></small>
        {% endif %}

        {% if item.children.all() %}
          <div class="mt-3">
              {{ display_items_for_readonly_view(item.children.order_by(ChecklistItem_model_ref.order).all(), ChecklistItem_model_ref, current_level + 1) }}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}