{% extends "main/_base.html" %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>{{ title }}</h1>
        <a href="{{ url_for('companies.new_company') }}" class="btn btn-success">Add New Company</a>
    </div>

    {% if companies %}
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">Ticker</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.name }}</td>
                    <td>{{ company.ticker_symbol }}</td>
                    <td>
                        <a href="{{ url_for('research.select_checklist_for_company', company_id=company.id) }}" class="btn btn-info btn-sm">Start/Resume Research</a>
                        <a href="{{ url_for('companies.manage_company_documents', company_id=company.id) }}" class="btn btn-secondary btn-sm">Manage Documents</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">
            <p>No companies have been added yet.</p>
        </div>
    {% endif %}
{% endblock %}